extends layout
block contenido
	form
		label(class="control-label") Titulo de la partida
		input(type="text" name="partida")
		br
		label(class="control-label") Tipo de partida
		input(type="radio" name="tipo" value="publico") 
		label(class="control-label") Publico
		br
		input(type="radio" name="tipo" value="privado")
		label(class="control-label") Privado 
		br
		label(class="control-label") Preguntas
		input(type="radio" name="cantidad" value="10") 
		br
		input(type="radio" name="cantidad" value="20") 
		br
		input(type="radio" name="cantidad" value="30") 
		br
		input(type="radio" name="cantidad" value="40") 
		br
		input(type="radio" name="cantidad" value="50") 
		br
		label(class="control-label") Tiempo de respuesta
		input(type="radio" name="tiempo" value="10")
		br
		input(type="radio" name="tiempo" value="15")
		br
		input(type="radio" name="tiempo" value="20")
		br
		input(type="radio" name="tiempo" value="25")
		br
		input(type="radio" name="tiempo" value="30") 
		br
		input(type="radio" name="tiempo" value="35") 
		br
		input(type="radio" name="tiempo" value="40") 
		br
		input(type="radio" name="tiempo" value="45") 
		br
		input(type="radio" name="tiempo" value="50") 
		br
		input(type="radio" name="tiempo" value="55") 
		br
		input(type="radio" name="tiempo" value="60") 
		br
		label(class="control-label") Categorias
		input(type="checkbox" name="categorias" value="Arte y Literatura") 
		br
		input(type="checkbox" name="categorias" value="Cine y Television")
		br
		input(type="checkbox" name="categorias" value="Geografia") 
		br
		input(type="checkbox" name="categorias" value="Historia") 
		br
		input(type="checkbox" name="categorias" value="Miscelanea") 
		br
		input(type="checkbox" name="categorias" value="Musica") 
		br
		input(type="checkbox" name="categorias" value="Ciencia y Naturaleza") 
		br
		input(type="checkbox" name="categorias" value="Deportes") 
		br
		button(type="submit") Enviar