div(class="panel panel-default")
	div(class="panel-heading") 
	div(class="panel-body")
		table(class="table")
			tr
				th Mensaje
				th Lista
			tr
				td
					ul#mensajes
				td
					ul#usuarios
	div(class="panel-footer")
		input(type="text",class="form-control",placeholder="Mensaje aqui",id="menvio")